@import url('https://fonts.googleapis.com/css2? family = Rubik: wght @ 300 & display = swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
}
$light:#ffffff;
$gray:#e7e9eb;
.flex{
  display: flex;
}
.body{

  width:100vh;
  margin:0px;

}

////------SIDEBAR---MENÚ LATERAL
.sidebar{
  width: 18rem;
  height: calc(100vh);
  border-right: 1px solid $gray;
  background-color: #0A1931;
  margin-top: 10;
  padding: 0;
  float: left;

 
ul{
  list-style: none;
  padding: 1rem 2rem;
  text-decoration: none;
  color: white;
}
li{
  margin-bottom: 1rem;
  a{
    text-decoration: none;
  
    &.active{
      background-color: #099494;
    }
  }
  .text-white{
    color: white;
  }
}
}

////LOGO DEL SIDEBAR
.Logo_1{
  width: 100px;
  height:100px;
  text-align: center;
  margin-left: 30%;
  margin-right: 40%;
  margin-top: 5%;
}
#logout{
  //margin-top: 15vh;
  float: right;
}
hr{
  height: 20px;
margin: 10px;
  background-color: white;
}
#hr-final{
  margin-top: 50%;
}

///------FORMULARIO DE REGISTRO DE PRODUCTOS-------
.content-general{
  flex: 50%;
  text-align: center;
  display: flex;
  margin-top: 10vh;
  width: 70vh;
  height: 80vh;
  float:right;
  margin-left: 50vh;
  //background-color: red;
  
  }
  
  .titulo-form-producto{
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }
  
  .content-producto{
    width: 50vh;
    height: 75vh;
    margin-top:10px;
    margin: 0 auto;
    //background-color: yellow;
   label{
     float: left;
     margin: 10px;
   }
  }
  #btn-registrar{
    
      height:40px; 
      width:100px; 
      margin: -20px -50px; 
      position:relative;
      top:50%; 
      left:50%;
      margin: 0 auto;
      text-align:center;
  
  }
  ////LOGO DEL SIDEBAR
  
  #logout{
  
    float: right;
  }
  hr{
    height: 20px;
    margin: 10px;
    background-color: white;
  }
  #hr-final{
    margin-top: 30%;
  }

  .titulo-admin-producto{
    float: right;
  }
.contenedorProducto{
    margin-top:5vh;
    float: center;
    width: 150vh;
    height: 95vh;
    margin-left: 55px;
}
.h1__titgestionProducto{
  margin-top: 22px;
  margin-bottom: 32px;
  font-size: 30px;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
