.container-home{
    margin-left:40%;
    float:inline-end;
    width: 100vh;
    height: 80vh;
    text-align: center;
}
.container-home h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
 
}
.container-home hr{
    border: solid 0.2px rgb(4, 2, 39);
    margin-top: 4px;
    
}
.home-logo{
    margin-top: 120px;
   
}
.logo-home{
    width: 300px;
    height: 200px;
}
