.container-home{
    float:inline-end;
    width: 100vh;
    height: 80vh;
    text-align: center;
}
.container-home h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
 
}

.logo-home{
    width: 300px;
}
.linea-bienvenido{
    border: solid 0.2px gray;
}