*{
    font-family: 'Roboto', sans-serif;
}
h2{
    text-align: center;
}

h3{
    text-align: center;
}

.formulario{
    background-color: aqua;
    width: 100%;
    margin: 10px;
}

.formulario .row{
    justify-content: center;
}

.btn{
    margin-left: 10px;
}

.btn:hover{
    cursor: pointer;
}

