@import url('https://fonts.googleapis.com/css2? family = Rubik: wght @ 300 & display = swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
}
$light:#ffffff;
$gray:#e7e9eb;
.flex{
  display: flex;
}
.body{

    width:1000px;
    margin:0px auto;
  
}

////------SIDEBAR---MENÚ LATERAL
.sidebar{
  width: 18rem;
  height: calc(100vh);
  border-right: 1px solid $gray;
  background-color: #0A1931;
  margin-top: 10;
  padding: 0;
  float: left;

 
ul{
  list-style: none;
  padding: 1rem 2rem;
  text-decoration: none;
  color: white;
}
li{
  margin-bottom: 1rem;
  a{
    text-decoration: none;
  
    &.active{
      background-color: #099494;
    }
  }
  .text-white{
    color: white;
  }
}
}

///PAGE REGISTRO DE PRODUCTOS
.content-general{
flex: 50%;
text-align: center;
display: flex;
margin-top: 10vh;
width: 70%;
float:right;
margin-left: 50vh;

}
.content-form{
  width: 60vh;
  margin-left: 220px;
	margin-right: 80px;

}

.content-producto{
  width: 90vh;
  height: 70vh;
  margin: 0 auto;
 label{
   float: left;
   margin: 10px;
 }
}
#btn-registrar{
  
    height:40px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
    margin: 0 auto;
    text-align:center;

}
////LOGO DEL SIDEBAR
.logo{
  width: 100px;
  height: 90px;
  text-align: center;
  margin-left: 14vh;
  margin-right: 10vh;
  margin-top: 10vh;
}
#logout{
  //margin-top: 15vh;
  float: right;
}
hr{
  height: 20px;
margin: 10px;
  background-color: white;
}
#hr-final{
  margin-top: 50%;
}